/******************************************************************

Stylesheet: Variables

******************************************************************/

$black:             #222222;
$white:             #ffffff;

$gray-light:        #efefef;
$gray-medium:       #999999;
$gray-dark:			#333333;

$gold:				#c59d66;
$sand:				#f1ece6;
$blue-dark:			rgb(43, 46, 51);
$blue-light:		#83b3cf;

$link-color:        $black;
$link-hover:        darken($link-color, 9%);
$text-color:        $black;
$alert:				$blue-light;