/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

a, a:visited {
	@include transition(all 0.2s ease-in-out);

	&:hover, &:focus {
		color: $gray-medium;
		border-color: $gray-medium;
	}

}

h2 {
	font-size: 1.75em;
}

/*********************
HEADER
*********************/

.header-container {
	height: 40%;

	h2, p {
		margin: 110px;
	}
}

/*********************
BORDERS
*********************/

#left, #right {
    width: 24px;
}
        
#top, #bottom {
    height: 24px;
}

/*********************
MAIN
*********************/

.main-container {
	margin: 40px 110px;
}

/*********************
FOOTER
*********************/

.footer-container {
	margin: 110px;
}