/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body, html {
	height: 100%;
	font-family: $regular;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray-light;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	margin: 0;
  	padding: 0;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LINKS
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;
	border-bottom: 2px solid $black;

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
TYPO
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-family: $bold;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3.5em;
	line-height: 1.333em;
	font-weight: 700;
}

h2, .h2 {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	font-weight: 800;
}

h3, .h3 {
	font-size: 1.1em;
	line-height: 1.333em;
	font-weight: 700;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER
*********************/

.header-container {
	background-color: $blue-dark;
	color: $white;
	height: 45%;

	h2, p {
		margin: 40px;
	}
}

/*********************
BORDERS
*********************/

#top, #bottom, #left, #right {
    background: $white;
    position: fixed;
}

#left, #right {
    top: 0; bottom: 0;
    width: 12px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}
        
#top, #bottom {
    left: 0; right: 0;
    height: 12px;
}
        
#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

/*********************
MAIN
*********************/

.main-container {
	margin: 20px 40px;
}

/*********************
FOOTER
*********************/

.footer-container {
	clear: both;
	color: $black;
	margin: 40px;

	p {
		margin: .2em 0;
	}
}

/******************************************************************
FORMS
******************************************************************/

#contact {
	li {
		margin-bottom: 1em;
	}

	label {
		display: block;
		width: 100%;
	}

	#submit {
		float: left;
	}
}

#success, #error {
    display:none
}

#success span, #error span {
    display: block;
    width: 100%;
}

#success span p, #error span p {
}

#success span p {
    color: $gold;
}

#error span p {
    color: $black;
}
